Assignment2

string based question

*1.Write a program to reverse a string.

In [1]:
# we can reverse a string just by using a  by using SLICEING  it is one of most simle method to do it
str="python"
print("string after get reverses: ",str[::-1])

string after get reverses:  nohtyp

*2.check string is a plaidrome.

In [2]:
#taking string as input
str3=input("Enter the string :")
#just reversing string
str4=str3[::-1]
#applying condition to check
if(str3==str4):
    print("It is palidrome ")
else:
    print("It is not palidrome")

Enter the string : arora

It is palidrome

*3 Convert a string to uppercase.

In [13]:
str="python"
print("string after converting into upper case:",str.upper())

string after converting into upper case: PYTHON

*4. convert a string to lowercase.

In [14]:
str="priya"
print("string after converting into lower case:",str.lower())

string after converting into lower case: priya

*5.Count the number of vowel in a string.

In [16]:
str1=input("Enter sentence:")
count=0
for i in str1:
    if(i=='a'or i=='e'or i=='i'or i=='o'or i=='u' or i=='A' or i=='E' or i=="O" or i=='U'):
        count=count+1
print("Total number of vowels in the string=",count)

Enter sentence: data science course

Total number of vowels in the string= 8

*6. count the number of consontants in string.

In [17]:
# first we are just taking string  
str=input("Enter string")
count=0
#count is used to just count consontants
for char in str:
    if char not in "aeiouAEIOU":
        count=count+1;
print("Number of Consontants:",count)

Enter string manhas

Number of Consontants: 4

*7 Remove all whitespaces from string.

In [6]:
#white space of string can we remove with strip or also with replacea function.
str=" pwskill  "
print("string after removing white space it:",str.strip())
str2=" rama amnhas "
print("string after removing whitespace:",str2.replace(" ",""))

string after removing white space it: pwskill
string after removing whitespace: ramaamnhas

*8 Find the length  of string without using the  'len() function.

In [8]:
str="python"
count=0
for i in str:
    count=count+1
print("Total lenth  of string:",count)

Total lenth  of string: 6

*9 Check if a string contain a specific word.

In [9]:
# we can check it using various method 
str=" my name is abc"
if "name" in str:
    print("word is present in string")
else:
    print("word is not present in string")

word is present in string

In [10]:
# another method is to check string contain word or not is find() as we know find is used to tell
# first occurence of word
str="i am student"
print("string contain specific word:",str.find("am"))

string contain specific word: 2

*10.Replace a word in s string with another word.

In [11]:
str="python"
print("Word after in a string replace with nother word:",str.replace("t","o"))

Word after in a string replace with nother word: pyohon

*11.Count the occurance of a word in string.

In [13]:
# simple by using count() function we are able to count word in string.
str="jupyter"
print("count occurance of word in string:",str.count("t"))

count occurance of word in string: 1

12.Find the first occurnace of word in string.

In [14]:
# simple done by using find() function help to tell first occurance of every word.
str="pythonprogramme"
print(" first occurnace of word in string:",str.find('m'))

 first occurnace of word in string: 12

13.Find the last occurance of word in string.

In [17]:
# simple done by using rfind() function help to fin last occurance of word.or also done by rindex()
str="pythonprogramme"
print(" last occurance of word in string:",str.rfind('y'))

 last occurance of word in string: 1

14.split a string into a list of word.

In [28]:
str1="pwskill"
str2=[i for i in str1]
print(str2)

['p', 'w', 's', 'k', 'i', 'l', 'l']

15. split a list of words into string.

In [30]:
list=['p','w','s','k','i','l','l']
print("".join(list))

pwskill

16.convert a string where........

In [32]:
str1=" my name is abc"
str2="_".join(str1.split())
print("after removing white space:",str1.split())
print(str2)

after removing white space: ['my', 'name', 'is', 'abc']
my_name_is_abc

 17.Check if a string  start with specific word or phrase.

In [34]:
str="python is easy"
print(" string start with specific word:",str.startswith('python'))

 string with specific word: True

18.check string is end with specific word ...

In [35]:
str="python is easy"
print(" string  ends with specific word:",str.endswith('python'))

 string  ends with specific word: False

19. Convert a string to title case...

In [36]:
str="programming is important"
print(" string after converting into title case:",str.title())

 string after converting into title case: Programming Is Important

20.Find the longest word in string....

In [53]:
# Read input string
str = input("Enter a String: ")
# Split the string to a list of words
word_list = str.split()
# Find the longest word
longest_word = max(word_list, key = len)
# Find the position (index) of longest word
pos = str.index(longest_word)
# Print the longest word and it's position
print("Longest word: ",longest_word)
print("Position of Longest word: ", pos)

Enter a String:  python is proframming

Longest word:  proframming
Position of Longest word:  10

21.Find shortest word in string.....

In [54]:
# Reading text from user
text = input("Enter some text: ")
# Finding longest word
shortest = min(text.split(), key=len)
# Displaying longest word
print("Shortest word is: ", shortest)
print("And its length is: ", len(shortest))

Enter some text:  python is program

Shortest word is:  is
And its length is:  2

22.Reverse the order of words in a string.

In [46]:
str=" programming is the best"
s=str.split()[::-1]
l=[]
for i in s :
    l.append(i)
print(" ".join(l))

best the is programming

23.Check if string is alphanum....

In [47]:
str="programning"
print("Is string is alphanumeric:",str.isalnum())

Is string is alphanumeric: True

24.Extract all digits from string.

In [50]:
str="program 1234 is my "
str1=[int (i) for i in str.split() if i.isdigit()]
print("the digit in string:",str1)

the digit in string: [1234]

25.extaxt alphabet.......

In [58]:
string = input("Enter a string: ")
only_alpha = ""
for char in string:
##checking whether the char is an alphabet or not using chr.isalpha() method
    if char.isalpha():
        only_alpha += char
## printing the string which contains only alphabets
print(only_alpha)

Enter a string:  python is 123 my

pythonismy

26.Count  the number of uppercase  letter in string.

In [60]:
string=input("Enter string:")
count=0
for i in string:
      if(i.isupper()):
            count=count+1
print("The number of uppercase characters is:")
print(count)

Enter string: string IS  collEction

The number of uppercase characters is:
3

27.Count the number of lower case letter...

In [62]:
string=input("Enter string:")
count=0
for i in string:
      if(i.islower()):
            count=count+1
print("The number of lowercase characters is:")
print(count)

Enter string: python IS EASY

The number of lowercase characters is:
6

28. swap the case of each character in a string.

In [64]:
name = "RaMa MANhas"
# converts lowercase to uppercase and vice versa
print(name.swapcase())

rAmA manHAS

29.Remove a specific word from string.

In [66]:
str="python"
print("string after removing specific word:",str.replace('h','n'))

string after removing specific word: pytnon

30.check string contain  valid....

In [67]:
import re   
def validate_email(email):  
    if re.match(r"[^@]+@[^@]+\.[^@]+", email):  
        return True  
    return False  
  
email = "example@domain.com"  
if validate_email(email):  
    print("Valid email address")

Valid email address

31.Extract the username from an email address string.

In [68]:
import re
string = "Hey @richard01 what time are we meeting @freddy023?"
usernames = re.findall("\B@\w+",string)
print(usernames)

['@richard01', '@freddy023']

32.Extract the domain names from an email address string.

In [70]:
s= input("Enter email address ")
print("Given email address is "+s)
l=s.split('@')                      
print("Domain name is "+l[1])

Enter email address  ramamanhas2002@gamil.com

Given email address is ramamanhas2002@gamil.com
Domain name is gamil.com

33.Replace multiple space in string .............

In [2]:
def spaces(input_string):
    cleaned_string = ' '.join(input_string.split()) 
    return cleaned_string
# split the string on each whitespace character.
#Use the str. join() method to join the list of strings with a space.
input_string = "My name    is abcd  "
result = spaces(input_string)
print(result)

My name is abcd

34.Check if string a is a valid URL.

In [4]:
from urllib.parse import urlparse
def valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc]) 
    except ValueError:
        return False
url1 = "https://www.example.com"
url2 = "wrong-url"
result1 = valid_url(url1)
result2 = valid_url(url2)
print(result1)  # Should print True if valid
print(result2)  # Should print Flase if it is not true

True
False

35.Extract the protocol .........

In [5]:
def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"
# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)
# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

36.Find the frquency of each......

In [7]:
def character_frequency(input_string):
    frequency = {} 
    for char in input_string:
        if char in frequency:
            frequency[char] += 1  #increment frequency
        else:
            frequency[char] = 1   # Initialize the frequency
    return frequency
input_str = "hye is python"
# Calculate character frequencies
char_freq = character_frequency(input_str)
# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 2
Character: 'y', Frequency: 2
Character: 'e', Frequency: 1
Character: ' ', Frequency: 2
Character: 'i', Frequency: 1
Character: 's', Frequency: 1
Character: 'p', Frequency: 1
Character: 't', Frequency: 1
Character: 'o', Frequency: 1
Character: 'n', Frequency: 1

37.Remove all punctuation from string.

In [8]:
import string
def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string
input_str = "what, makes python difficult?"
cleaned_str = remove_punctuation(input_str)
# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: what, makes python difficult?
Cleaned string: what makes python difficult

38.check if string contain only......

In [9]:
def contains_only_digits(input_string):
    # Check if all characters in the string are digits
    return input_string.isdigit()
string1 = "hye"
string2 = "123"
string3 = "66.89"#check string contain character
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'hye' contains only digits: False
'123' contains only digits: True
'66.89' contains only digits: False

39.check if a string contain only alphabets...

In [12]:
str="Pwskill"
#rather than using function method we are having function throught which we check string 
#contain only aplhbets is isalpha()
print("string contain alphabet only:",str.isalpha())

string contain alphabet only: True

40.convert string to list of character.....

In [15]:
str="Pwskills"
# we can having easy method to convert string to list of charcter is typecasting
print("string before converting:",str)
print("string after getting converted into list:",list(str))

string before converting: Pwskills
string after getting converted into list: ['P', 'w', 's', 'k', 'i', 'l', 'l', 's']

41.Check if two string strings are arrguments....

In [18]:
string1 = "listen"
string2 = "silent"
print("string 1:",string1)
print("string 2:",string2)
if sorted(string1)==sorted(string2):
    print("string result is are_anagrams",(string1, string2))
else:
    print("not are_anagrams")

string 1: listen
string 2: silent
string result is are_anagrams ('listen', 'silent')

42.Encode a string using a caser cipher.

In [23]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    # Initialize an empty string to store the decoded text
    decoded_text = ""
    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

#  input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print 
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

44.Find the most frequent word in a string.

In [28]:
def word_frequent(input_string):
    frequent = {} 
    for char in input_string:
        if char in frequent:
            frequent[char] += 1  #increment frequency
        else:
            frequent[char] = 1   # Initialize the frequency
    return frequent
input_str = "hyemmmt"
# Calculate word frequencies
char_freq = word_frequent(input_str)
# Print character frequencies
for char, freq in char_freq.items():
    print(f"word: '{char}', Frequent: {freq}")

word: 'h', Frequent: 1
word: 'y', Frequent: 1
word: 'e', Frequent: 1
word: 'm', Frequent: 3
word: 't', Frequent: 1

45.find all unique words in sting.....

In [30]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())
    return words
input_str = "python is developed by the abcd in abcd year?"
unique_word_set = unique_words(input_str)
print("Unique words:", unique_word_set)

Unique words: {'year', 'by', 'python', 'developed', 'is', 'abcd', 'the', 'in'}

46.Count the number of syllables in a string..........

In [32]:
def count_syllables(word):
    word = word.lower()
    counter = 0
    is_previous_vowel = False
    for index, value in enumerate(word):
        if value in ["a", "e", "i", "o", "u", "y"]:
            if index == len(word) - 1:
                if value == "e":
                    if counter == 0:
                        counter += 1
                else:
                    counter += 1
            else:
                if is_previous_vowel == True:
                    counter += 1
                    is_previous_vowel = False
                    break
            is_previous_vowel = True
        else:
            if is_previous_vowel == True:
                counter += 1
            is_previous_vowel = False
    print ("In \"{}\" I count {} syllables".format(word, counter))

count_syllables("pwskill")

In "pwskill" I count 1 syllables

47.Check if a string contains any special characters.

In [36]:
# import required package
import re 
# Function checks if the string
# contains any special character
def run(string):
 
    # Make own character set and pass
    # this as argument in compile method
    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
    #Pass the string in search
    # method of regex object.   
    if(regex.search(string) == None):
        print("String is not conatin special character")
    else:
        print("String is conatin special character")
if __name__ == '__main__' :
    string = "rama%$manhas@"
    run(string)

String is conatin special character

48. Remove the nth word from a string..

In [40]:
# initializing string
test_str = "hello words is python" 
# printing original string
print("The original string is : " + test_str)
# initializing N
N = 3
# Get Nth word in String
# using loop
count = 0
res = ""
for ele in test_str:
    if ele == ' ':
        count = count + 1
        if count == N:
            break
        res = ""
    else :
        res = res + ele
print("The Nth word removing from  String : " + res)

The original string is : hello words is python
The Nth word removing from  String : is

49.Insert word at the nth position in a string.

In [52]:
# input string
inputString = "Rama"
# adding character 'p' at a specific position i.e, at index 3
inputString = inputString[:3] + 'M' + inputString[3:]

# printing the resultant string 
print("Adding 'M' at 3th index of an input string:\n", inputString)

Adding 'M' at 3th index of an input string:
 RamMa

50.Convert a CSV string to a list of lists.

In [54]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')
    # Initialize an empty list to store the result
    result = []
    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')
        # Append the fields to the result list as a row
        result.append(fields)
    return result
csv_data = "Name, Age, Country\npriys, 21, USA\nAlice, 30, Canada\nkomal, 22, UK"
# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)
# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['priys', ' 21', ' USA']
['Alice', ' 30', ' Canada']
['komal', ' 22', ' UK']

List Based practice problem.

1.Create a list with interger from 1 to 10.

In [1]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

10

2.Find the length of list without using len() function.....

In [4]:
#taking input as list
l=[1,2,3,4,5,6,7,8,9,10]
# count is used to count the length of list
count=0
for i in l:
    count=count+1
print("length of list without using length function:",count)

length of list without using length function: 10

3.Append an element to end of the list.....

In [8]:
#intilizing list
list=[23,56,78]
print("list before append element at the end:",list)
# know we can simple add element in end of list
list.append(90)
print("List after append element at the end of list:",list)

list before append element at the end: [23, 56, 78]
List after append element at the end of list: [23, 56, 78, 90]

4.Insert an element at a specific index in a list.

In [9]:
#intilizing list
list=["pwskill",234,"third",567]
print("List before insert the element:",list)
#know we can insert element in list just by using insert function
list.insert(3,"important")
print("List after insert element at specific index:",list)

List before insert the element: ['pwskill', 234, 'third', 567]
List after insert element at specific index: ['pwskill', 234, 'third', 'important', 567]

5.Remove an element from a list by its value.

In [2]:
list=["pwskill",234,"third",567]
print("List without before  remove an element:",list)
# remove an element from list directly by using remove function
list.remove(234)
print("List after removing an element from list:",list)

List without before  remove an element: ['pwskill', 234, 'third', 567]
List after removing an element from list: ['pwskill', 'third', 567]

6.Remove an element from list by its index..

In [5]:
list=["pwskill",234,"third",567]
print("List without before  remove an element from list by index:",list)
# remove an element from list directly by using remove function pop()
list.pop(2)
print("List after removing an element from list by index:",list)

List without before  remove an element from list by index: ['pwskill', 234, 'third', 567]
List after removing an element from list by index: ['pwskill', 234, 567]

7.Check if an element exits in a list....

In [8]:
# we can check it by using loop 
my_list = [10, 20, 30, 40, 50]
element_to_check = 30
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

8.Find the index of the first occurence  of an element.....

In [14]:
my_list = [10, 20, 30,20, 40, 50,50]
#first occurence of an element check by using index() function
print("first occurance of 20 is:",my_list.index(50))

first occurance of 20 is: 5

9. Count the occurance of an element in a list.

In [16]:
#iintilizing the list 
my_list = [10,"abcd", 30,20, "abcd",40, "priya",50]
# count the occurance of element directly by using count() functiom or also done by looping
print(" count the occurance of the element:",my_list.count("abcd"))

 count the occurance of the element: 2

10.Reverse the order of element in list.

In [20]:
# taking list
my_list=[10,20,30,40,50]
print("orignal list before reversing it:",my_list)
#reverse the order of element of list directlt by using reverse() function
my_list.reverse()
print("revere order of element in list:",my_list)

orignal list before reversing it: [10, 20, 30, 40, 50]
revere order of element in list: [50, 40, 30, 20, 10]

11.Sort the element in ascending order.

In [23]:
number=[4,2,1,3,5]
print("before get sorted in ascending order:",number)
#sorting the list in ascending order
number.sort()
print("after get sorted in ascending order:",number)

before get sorted in ascending order: [4, 2, 1, 3, 5]
after get sorted in ascending order: [1, 2, 3, 4, 5]

12.Sort the element in descending order.

In [27]:
umber=[4,2,1,3,5]
print("before get sorted in ascending order:",number)
#sorting the list in ascending order
number.sort(reverse=True)
print("after get sorted in ascending order:",number)

before get sorted in ascending order: [1, 2, 3, 4, 5]
after get sorted in ascending order: [5, 4, 3, 2, 1]

13. Create a list of even number from1 to 20.

In [29]:
even_numbers = [x for x in range(2, 21, 2)]
#  list of even numbers
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14.Create a list of odd number from1 to 20.

In [30]:
odd_numbers = [x for x in range(1, 21, 2)]
# list of odd numbers
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all element in a list.

In [31]:
# taking total
total=0
list=[10,20,30,50]
for i in range(len(list)):
    total=total+list[i]
print("The sum of all element in a list:",total)

The sum of all element in a list: 110

16.Find the maximum value in a list.

In [32]:
list=[-4,8,2,6]
# sort  maximum value in variable
#using list max()
maxvalue=max(list)
print("The maximum value in a list:",maxvalue)

The maximum value in a list: 8

17.Find the minimum value in a list.

In [33]:
list=[-4,8,2,6]
# sort  minimum value in variable
#using list min()
minvalue=min(list)
print("The minimum value in a list:",minvalue)

The minimum value in a list: -4

18.create a list of squares of the numbers from 1 to 10

In [34]:
# taking square list
squares = [x ** 2 for x in range(1, 11)]
#  the list of squares
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19.Create  a list of random numbers.

In [35]:
import random
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[5, 3, 8, 4, 7, 7, 6, 5, 9, 7]

20.Remove duplicate from a list.

In [22]:
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
# Remove duplicates by converting to a set and back to a list
unique_list = list(set(my_list))
# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

21.Find the common elements between two list.

In [51]:
list_one = [5, 10, 15, 20, 25, 30]
list_two = [10, 20, 30, 40, 50, 60]
common_list = [c for c in list_one if c in list_two]
print(common_list)

[10, 20, 30]

22.Find difference between two lists.

In [55]:
l1=[10,15,20,39,30,40]
l2=[40,25,67,30]
temp=[]
for element in l1:
    if element not in l2:
        temp.append(element)
print("diffrence in list:",temp)

diffrence in list: [10, 15, 20, 39]

23.Merge two lists.

In [56]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]
# Merge lists using the +  conactenate operator
merged_list = list1 + list2
# Print the merged list
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

24.Multiply all elements in a list by 2.

In [1]:
my_list = [10, 20, 30, 40, 50]
# Multiply all elements by 2 using a list comprehension
multiplied_list = [x * 2 for x in my_list]
#  the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

25.Filter out all over numbers form list.

In [4]:
def even(x):
    return x % 2 == 0
a = [2, 5, 7, 8, 10, 13, 16]
result = filter(even, a)
print('Original List :', a)
print('Filtered List :', list(result))

Original List : [2, 5, 7, 8, 10, 13, 16]
Filtered List : [2, 8, 10, 16]

26.Convert a lsit pf string to list of intergers.

In [9]:
a=['1','2','3']
#int() in inbulid function convert string into integers
print([int(x) for x in a])

[1, 2, 3]

27.Convert a lsit of intergers to a list of string.

In [11]:
integer_list = [10, 20, 30, 40, 50]
# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]
# Print the list of strings
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

28.Flatten a nested list.

In [13]:
my_list=[[1],[2,3],[4,5,6,7]]
flat_list=[]
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)
print("Flatten a nested list:",flat_list)

Flatten a nested list: [1, 2, 3, 4, 5, 6, 7]

29.Create a list of the first 10 fibonacci numbers.

In [ ]:
p=0
q=1
n=int(input("Enter no fabnocci number:"))
i=2
list=[p,q]
while i<n:
    fibo=p+q
    list.append(fibo)
    p=q
    q=fibo
    i=i+1
print(list)

Enter no fabnocci number: 5

[0, 1, 1, 2, 3]

30.Check list is sorted.

In [15]:
l1=[1,2,3,4,5]
#Check if list sorted
print(l1==sorted(l1))

True

31.Rotate a list to the left by 'n' position.

In [18]:
list=[1,4,6,7,2]
print("original list:"+str(list))
c=list[3: ] + list[ :3]
print("List after rotate by 3:",c)

original list:[1, 4, 6, 7, 2]
List after rotate by 3: [7, 2, 1, 4, 6]

32.Rotate a list to the right by 'n' position.

In [19]:
list=[1,4,6,7,2]
print("original list:"+str(list))
c=list[-3: ] + list[ :-3]
print("List after right  rotate by 3:",c)

original list:[1, 4, 6, 7, 2]
List after right  rotate by 3: [6, 7, 2, 1, 4]

33.Create a list of prime number up to 50.

In [20]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True
prime_numbers = [num for num in range(2,30) if is_prime(num)]
# the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34.split a list into chunks of size 'n'.

35.Find the second largest number in a list.

In [21]:
# declaring the list  
list_val = [20, 30, 40, 25, 10]  
# sorting the list  
list_val.sort()  
#displaying the second last element of the list  
print("The second largest element of the list is:", list_val[-2])

The second largest element of the list is: 30

36.Replace every element in a list with square.

In [28]:
my_list = [2, 4, 6, 8, 10,12,14]
squared_list = [x ** 2 for x in my_list]
# the squared list
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100, 144, 196]

37.Convert a list to dictionary where list ..........

In [29]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
my_dict = {element: index for index, element in enumerate(my_list)}
# the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38.Shuffle the elements of list randomly.

In [30]:
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Shuffle the list randomly
random.shuffle(my_list)
#  the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [8, 10, 1, 9, 6, 3, 5, 4, 2, 7]

39.Create a list of the first 10 factorial numbers.

In [31]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
#  list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40.Check if two lists have at least one element......

In [36]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
# lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41.Remove all element from a list.

In [37]:
a=[1,2,3,4,5]
print(a)
a.clear()
print(a)

[1, 2, 3, 4, 5]
[]

42.Replace negative number in list with 0.

In [38]:
my_list = [10, -5, 20, -40, 30, -25,-50,40,60]
#  Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
#  the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0, 0, 40, 60]

43.Convert string into a list of words.

In [41]:
str1='pwskill is important'
list1=str1.split()
print(list1)

['pwskill', 'is', 'important']

44.Convert a list of words into string.

In [42]:
list=['pwsill','is','important']
string=" ".join(list)
print(string)
print(type(string))

pwsill is important
<class 'str'>

45.Create a list of the first 'n' power of 2.

In [43]:
# the value of n
n = 5
#list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

46.Find longest string in a list of string.

In [45]:
list=["pwsill","important","need"]
# sort  maximum value in variable
#using list max()
maxvalue=max(list,key=len)
print("The longest value in a list:",maxvalue)

The longest value in a list: important

47.Find the shortest string a list of string.

In [47]:
list=["pwsill","important","need"]
# sort  shortest value in variable
#using list min()
minvalue=min(list,key=len)
print("The shortest string value in a list:",minvalue)

The shortest string value in a list: need

48.create a list of teh first 'n' triangular numbers.

In [48]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
#  the value of n
n = 5
# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)
# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49.Check if a list conatins another list as subsequence.

In [50]:
test_list = [9, 4, 5, 8, 10]
sub_list = [10, 5, 4] 
# printing original lists
print("Original list : " + str(test_list))
print("Original sub list : " + str(sub_list))
# using all() to
# check subset of list
flag = 0
if(all(x in test_list for x in sub_list)):
    flag = 1
# printing result
if (flag):
    print("Yes, list is subsequence of other.")
else:
    print("No, list is not subsequence of other.")

Original list : [9, 4, 5, 8, 10]
Original sub list : [10, 5, 4]
Yes, list is subsequence of other.

50.Swap two elements in a list by their indicies.

In [52]:
my_list = [1, 2, 3, 4, 5]
# Indices of elements to swap
index1 = 1
index2 = 3
# Swap the elements
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
#  list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

TUPLE BASED QUESTIONS

1.Create a tuple with integers from 1 to 5.

In [4]:
my_tuple = (1, 2, 3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

2.Access the third elements of tuple.

In [5]:
tuple=(1,2,3,4,5,6)
print("original tuple:",tuple)
#just by using index concept we can fetch the value of tuple
print("third element in tuple:",tuple[2])

original tuple: (1, 2, 3, 4, 5, 6)
third element in tuple: 3

3.Find the length of tuple without using the length function...

In [7]:
tuple=(1,2,3,4,5,6)
count=0
for i in tuple:
    count=count+1
print("Print length of tuple with using len function:",count)

Print length of tuple with using len function: 6

4.Count occurrences of an elementsin tuple .

In [8]:
tuple=("rama","manhas","abc",123,"abcd",123,"thakur")
print("occurrences of an elements in tuple:",tuple.count(123))

occurrences of an elements in tuple: 2

5.Find the index of the first occurrence.....

In [10]:
element_to_find = 20
index = -1  # Initialize with -1 to indicate that the element was not found
#Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

20 is not found in the tuple.

6.Check if an elements exits in tuple.

In [11]:
my_tuple = (10, 50, 80, 90, 50)
element_to_check = 30
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 does not exist in the tuple.

7.Convert a tuple to list.

In [12]:
my_tuple = (10, 100, 400, 560, 900)
my_list = list(my_tuple)
# Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 100, 400, 560, 900)
List: [10, 100, 400, 560, 900]

8.convert a list to tuple.

In [19]:
sample_list = ['Compile', 'With', 'Favtutor']
#unpack list items and form tuple
tuple1 = (*sample_list,)
print(tuple1)
print(type(tuple1))

('Compile', 'With', 'Favtutor')
<class 'tuple'>

9.Unpack the elements of tuple into variable.

In [20]:
my_tuple = (10, 20, 30)
#Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple
# Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

10.create a tuple of even numbers from 1 to 10.

In [26]:
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = (*even_numbers_list,)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

11.Create a tuple of odd number from 1 TO 10...

In [33]:
even_numbers_list = [num for num in range(1, 11, 2)]  
even_numbers_tuple = (*even_numbers_list,)
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (1, 3, 5, 7, 9)

12.concatenate two tuple...

In [34]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
# the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

13.Rrpeat a tuple three time...

In [35]:
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3
# Print the repeated tuple
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14.check if tuple is empty...

In [36]:
empty_tuple = ()
non_empty_tuple = (1, 2, 3)
#Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

15. Create  a nested  tuple.

In [37]:
#  Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
# Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first elements of nested tuple....

In [38]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
#Access the first element of the nested tuple
first_element = nested_tuple[0]
#Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

17.Create a tuple with single statement....

In [39]:
single_element_tuple = (42,)# comma used
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

18. compare two tuples....

In [40]:
# initlizing two tuple
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
#the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. delete a tuple.

In [41]:
my_tuple = (1, 2, 3, 4, 5)
#Delete the tuple using the 'del' statement
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

20. slice a tuple.

In [42]:
tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
# Slice the tuple to get a portion of it
sliced_tuple = tuple[2:6]  # from index 2 to 5 (end index is exclusive)
#the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

21.Find the maximum value....

In [45]:
my_tuple = (10, 20, 5, 45, 30)
#  tuple using the 'max()' function
max_value = max(my_tuple)
# the maximum value
print("Maximum value:", max_value)

Maximum value: 45

22.Find the minimum value ....

In [46]:
my_tuple = (10, 20, 5, 45, 30)
#  the tuple using the 'min()' function
min_value = min(my_tuple)
#Print the minimum value
print("Minimum value:", min_value)

Minimum value: 5

23. Convert a string to a tuple of characters...

In [49]:
string = "Hello, World!"
# the string to a tuple of characters
tuple_of_characters = (*string,)
#Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to string...

In [50]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
# the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)
#  the resulting string
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

25.Create a tuple from multiple...

In [51]:
mixed_tuple = (1, "meth", 3.14, True)
print(mixed_tuple)

(1, 'meth', 3.14, True)

26.Check if two tuple are identical....

In [52]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
# Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
#Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

27.Sort the elements of tuple...

In [53]:
tuple = (5, 2, 8, 1, 3)
#Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = (*sorted(tuple),)
#  Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

 28. convert a tuple of integers  to tuple of  string...

In [79]:
tuple_of_integers = (1, 2, 3, 4, 5)
#the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = (*(str(item) for item in tuple_of_integers),)
# the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

29. convert a tuple of string  to tuple....

In [78]:
tuple_of_strings = ('10', '20', '30', '40', '50') #the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = (*(int(item) for item in tuple_of_strings),)
#  the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

30.Merge two tuple....

In [63]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
# Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2
# Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31.Flatten a nested tuple.

In [1]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple =(*(flatten_tuple(nested_tuple)),)

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32.create a tuple of first 5 prim numbers...

In [72]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = (*prime_numbers_list,)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. check if tuple is a palidrome..

In [73]:
def is_palindrome(tup):
    return tup == tup[::-1]
# tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)
# if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)
#  the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

34. create a tuple of square of mumbers from  1 To 5.

In [77]:
#  a tuple of squares using a list comprehension
squares_tuple = (*(x** 2 for x in range(1, 6)),)
#  the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

35.Filter out all even number from a tuple.

In [83]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
# even numbers using a list comprehension
filtered_tuple = (*(num for num in original_tuple if num % 2 != 0),)
# the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

36.Multiply all elements in a tuple by 2.

In [84]:
original_tuple = (1, 2, 3, 4, 5)
#  elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = (*(num * 2 for num in original_tuple),)
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [85]:
import random
# tuple of random numbers using a list comprehension
random_tuple = (*(random.randint(1, 100) for _ in range(10)),)  # 10 random numbers between 1 and 100
#the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (67, 26, 13, 10, 68, 76, 33, 29, 6, 58)

38. Check if tuple is sorted.

In [86]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True
# tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39. Rotate a tuple to left by "n" positions.

In [5]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  
    return rotated_tuple
my_tuple = (10,20,30,40,50)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(30, 40, 50, 10, 20)

40.Rotate a tuple to the right by "n" postion.

In [4]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n] 
    return rotated_tuple
my_tuple = (10, 20, 30, 40, 50)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(40, 50, 10, 20, 30)

41.Create a tuple of the first 5 fabonacci...

In [6]:
def generate_fibonacci(n):
    fibonacci = [0, 1] 
    while len(fibonacci) < n:  #  generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return (*fibonacci,)  # Convert the list to a tuple and return it
# Call the generate_fibonacci function 
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [7]:
input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
# the list of strings to a tuple
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  rama,manhas,ancd

User input tuple: ('rama', 'manhas', 'ancd')

43.Swap two elements in a tuple.

In [12]:
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [13]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first "n" power of 2.

In [14]:
#  the value of n
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of string.

In [15]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: watermelon

47.Find the shortest string in tuple of string.

In [16]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
# the shortest string in the tuple
shortest_string = min(string_tuple, key=len)
print("Shortest string:", shortest_string)

Shortest string: kiwi

48.Create a tuple of the first "n" triangular ...

In [17]:
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
#  the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49.Check if tuple conatins another tuple as a subsequence.

In [18]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50.Create a tuple of alternating 1s and 0s of length "n".

In [20]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

SET BASED PRACTICE PROBLEM.

1.create a set with integers from 1 To 5.

In [24]:
my_set = set()
#through this we add integer value
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

2.Add an elements to set.

In [25]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
element_to_add = 6
# done by using add function
my_set.add(element_to_add)
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

3.Remove an elements from set.

In [26]:
my_set = {1, 2, 3, 4, 5}
print("Original Set:", my_set)
element_to_remove = 3
#  Use the remove() method to remove the chosen element
my_set.remove(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

4.Check if an elements Exits in a set.

In [27]:
my_set = {4, 9, 5, 7, 10}
element_to_check = int(input("Enter the element to check: "))
# the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  10

10 exists in the set.

5.Find the length of set without using the len()....

In [29]:
my_set = {1, 2, 3, 4, 5,6,7}
count = 0
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1
print("Length of the set:", count)

Length of the set: 7

6.Clear all elements from a set.

In [30]:
my_set = {1, 2, 3, 4, 5}
# the original set
print("Original set:", my_set)
# the set using the clear() method
my_set.clear()
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

7.Create a set of even numbers from 1To10.

In [31]:
even_numbers_set = set()
for num in range(1, 11):
    if num % 2 == 0:
        even_numbers_set.add(num)
print(even_numbers_set)

{2, 4, 6, 8, 10}

8.Create a set of odd number from 1 to 10.

In [32]:
odd_numbers_set = set()
for num in range(1, 11):
    if num % 2 != 0:
        odd_numbers_set.add(num)
print(odd_numbers_set)

{1, 3, 5, 7, 9}

9.Find the union of two sets.

In [33]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
# union of the two sets using the `union()` method
union_result = set1.union(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

10.Find the intersection of two sets.

In [34]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
# intersection using the intersection() method
intersection_result = set1.intersection(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

11.Find the difference between two sets.

In [36]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
#  the difference between the sets using the difference() method
difference_set = set1.difference(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

12.Check if set is subset of another set.

In [37]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
#the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

13.Check if set is superset of another set.

In [38]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}
# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14.Create a set from list.

In [39]:
my_list = [2, 4, 1, 4, 3, 2, 5]
# Use the set() constructor to convert the list into a set
my_set = set(my_list)
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

15.Convert a set to list.

In [40]:
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}
# the set to a list using the list() function
my_list = list(my_set)
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

16.Remove a random element....

In [41]:
import random
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 3 : {1, 2, 4, 5}

17.pop an elements from a set.

In [42]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
# Pop an element from the set using the pop() method
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

18. check if two sets have no elements   in common.

In [43]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

19.Find the symmetric difference between two sets.

In [44]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20.Updates a set of first 5 prime number.

In [45]:
set1 = {1, 2, 3}
print("Set 1:", set1)
set2 = {3, 4, 5}
print("Set 2:", set2)
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

21.create a set of first 8 prime...

In [46]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
# Initialize the number to start checking for primes
num = 2
# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22.check if two set are identical.

In [47]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23.Create a frozen set.

In [48]:
elements = [1, 2, 3, 4, 5]
#  frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24.check if  a set disjoint with another set...

In [49]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
# the `isdisjoint()` method to check if the sets are disjoint
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25create a set of square of number 1 TO 5.

In [50]:
squares_set = set()
for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

26.filter out all even number from set.

In [51]:
original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

27.Multiply all element in a set by 2.

In [52]:
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28.Create a set of random number.

In [54]:
import random
num_random_numbers = 7
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100)  
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {96, 37, 40, 52, 21, 88, 60}

29.Check if a set is empty.

In [55]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30.Create a nested set..

In [56]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}#Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31.Remove an elements from set using the dicards method.

In [57]:
my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)
element_to_remove = 3
# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

32.compare two sets.

In [58]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33.Create a set from string.

In [59]:
input_string = "hello"
char_set = set(input_string)
print(char_set)

{'l', 'e', 'h', 'o'}

34.convert a set of string to set integer.

In [61]:
string_set = {"678", "897", "786"}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'786', '897', '678'}
Converted Integer Set: {897, 786, 678}

35.Convert a set of integers to set of string.

In [63]:
integers_set = {56, 28, 83, 64, 85}
strings_set = set()
for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {64, 83, 85, 56, 28}
Converted strings_set: {'28', '83', '64', '85', '56'}

36.Create a set from a tuple.

In [64]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

37.Convert a set to a tuple.

In [65]:
input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

38.Find the maximum value....

In [67]:
my_set = {79, 97, 28, 13, 8}
max_value = None
for num in my_set:
    if max_value is None or num > max_value:
        max_value = num  
print("Maximum value:", max_value)

Maximum value: 97

39.find the ninimum value...

In [68]:
number_set = {15, 98, 23, 5, 2, 11}
min_value = None
for num in number_set:
    if min_value is None or num < min_value:
        min_value = num
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 2

40.Create a set from user input.

In [69]:
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ") 
    if user_input.lower() == 'done':
        break  
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  56
>  67
>  89
>  90
>  89
>  90
>  done

Final set: {'67', '89', '90', '56'}

41.Check if the intersection....

In [70]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
#  the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42.create a set of the first 5 fibonacci...

In [71]:
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43.Remove duplicate from list using sets..

In [72]:
original_list = [2, 4, 6, 4, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 4, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44.check if two sets have the same elements...

In [73]:
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
result = have_same_elements(set1, set2)
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45.create a set of the first "n" power of 2.

In [74]:
def generate_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2
n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

46.Find the common elements betwwen set and list.

In [76]:
my_set = {3, 7, 9, 16, 15}
my_list = [3, 16, 5, 9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("Common elements:", common_elements)

Common elements: [16, 3, 9]

47.Create a set of the first "n" triangular number .

In [77]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number) 
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  6

The set of the first 6 triangular numbers is: {1, 3, 6, 10, 15, 21}

48.check if set conatin another set as subset.

In [78]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49.create a set alternating 1s and 0s of length "n".

In [79]:
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0)  

    return alternating_set
length_n = 10
result = create_alternating_set(length_n)
print(result)

{0, 1}

50.Merge multiple sets into one.

In [80]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
#  Use the union() method to merge sets
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}